.card {
    position: relative;

}

button {
    width: 80px;
    height: 40px;
    text-align: center;
}

#card-header-section {
    text-align: center;
    align-items: center;
}

#hover-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.25s;
    background-color: rgba(225, 91, 91, 0.132);

}

button {
    z-index: 9999;
    transition: all 0.25s;
}

#left-button {
    transform: translateX(-20px);

}

#right-button {
    transform: translateX(20px);

}

.card:hover {
    color: #e15a5a;

    img {
        opacity: 0.2;
    }

    #hover-overlay {

        opacity: 1;

        button {
            color: #e15a5a;

            opacity: 1;
            transform: none;
        }

    }


}