<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 pb-3 border-bottom 
bg-white fixed-top shadow">
    <img class="col-4" src="/assets/images/logo.png" alt="logo" style="max-height: 70px;">
    <nav class="d-flex col-3 text-uppercase flex-row"
        style="justify-content: center; align-items: center; text-align: center;">
        <a class="page-link p-2 col-4 text-dark" [routerLinkActiveOptions]="{exact:true}" routerLink="/"
            routerLinkActive="active">Home</a>
        <a class="page-link p-2 col-4 text-dark" [routerLinkActiveOptions]="{exact:true}" routerLink="/shop"
            routerLinkActive="active">Shop</a>
        <a class="page-link p-2 col-4 text-dark" routerLink="/test-error" routerLinkActive="active">Errors</a>
    </nav>
    <div class="col-4 d-flex" style="justify-content: end; align-items: center;">
        <a routerLink="/cart" class="position-relative text-dark me-4">
            <i class="fa fa-shopping-cart fa-2x"></i>
            <p *ngIf="totalCartItems" class="cart-no small">{{totalCartItems}}</p>
        </a>
        <a class=" btn btn-outline-secondary me-2">
            Login
        </a>
        <a class="btn btn-outline-secondary">Sign Up</a>
    </div>

</header>