<ng-container *ngIf="(cartService.cartSource$ | async)?.items as cartItems">

    <div class="d-flex justify-content-center " *ngIf="cartItems.length ==0"
        style="text-align: center; height: 100px;align-items: center;font-size: 2em; font-weight: bold;">
        Your cart is empty...
    </div>
    <ng-container *ngIf="cartItems.length > 0">

        <div class="container-lg" style="justify-content: center; align-items: center;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th style="text-align: center;">Price</th>
                        <th style="text-align: center;">Quantity</th>
                        <th style="text-align: center;">Total</th>
                        <th style="text-align: center;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cartItems">
                        <td class="align-middle">
                            <img style="max-height: 60px;" src={{item.pictureUrl}}>

                        </td>
                        <td class="align-middle">
                            <h5 routerLink="/shop/{{item.id}}" class="text-dark" style="cursor: pointer;">
                                {{item.productName}}
                            </h5>
                            <span class="text-muted fst-italic">
                                Type: {{item.type}}
                            </span>
                        </td>
                        <td class="align-middle" style="text-align: center;">{{item.price| currency}}</td>
                        <td class="align-middle" style="font-size: 1.5em;text-align: center;">
                            <i class="fa fa-minus-circle" (click)="decrementCartItem(item.id)"
                                style="cursor: pointer;"></i>
                            {{item.quantity}}
                            <i (click)="incrementCartItem(item.id)" class="fa fa-plus-circle"
                                style="cursor: pointer;"></i>

                        </td>
                        <td class="align-middle" style="text-align: center;">{{(item.quantity * item.price) | currency}}
                        </td>
                        <td class="align-middle" style="text-align: center;">
                            <a>
                                <i class="fa fa-trash" (click)="removeCartItem(item.id)"
                                    style="font-size: 2em;cursor: pointer;color: #da0f0f"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex row justify-content-center ">
                <div class="col-6 offset-6">
                    <div class="text-light p-4 mb-1 fw-bold bg-dark">Order Summary</div>
                    <div class="p-4 mt-1">
                        <app-bill-summary></app-bill-summary>
                    </div>
                    <div class="d-flex btn btn-outline-success" style="cursor: pointer;justify-content: center;">Proceed
                        to
                        checkout
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>